#login-page {
  margin-top: 10vh;
  margin-bottom: 20vh;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

.login {
  align-items: center;
  justify-content: center;
  display: flex; }

.login-content {
  width: 24rem; }

.logo {
  height: 120px;
  width: 140px;
  object-fit: cover; }
