.is-horizontal-center {
  justify-content: center; }

.body {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  margin-bottom: 0px; }

.has-bg-img {
  background: url("../../../assets/group.jpg") center center;
  background-size: cover;
  overflow: auto; }

.container {
  width: 100%;
  text-align: center; }

.hero-body .box {
  padding: 0px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  width: 25%;
  display: inline-block; }

.hero-body .box {
  padding: 0px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  width: 25%;
  display: inline-block; }

.hero-body .box .title {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  text-align: center; }
