.navbar {
  background-color: #383838; }
  .navbar a:hover {
    color: gray; }

.navbar-brand a {
  color: #fff;
  font-weight: bold; }

a.r-item {
  color: #C1C1C1;
  padding: 0.5rem 1.75rem; }
  @media screen and (max-width: 768px) {
    a.r-item {
      color: gray; }
      a.r-item:hover {
        background-color: #F1F1F1; } }

.navbar-burger span {
  background-color: #C1C1C1; }

.has-img {
  background: url("quadrapod.jpg") center center;
  width: 100px;
  height: 80px;
  background-size: cover; }
